<header>
    <nav>
        <div>
            <div class="nav-block">
                <ul class="nav-items">
                    <li class="nav-item">
                        <img class="h-icon" href="#" src="img/puzzle.png" width="35" height="30"></img>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Übersicht</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Querverweise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Über mich</a>
                    </li>
                    <li class="nav-item login">
                        <a class="nav-link" href="../login.html">Login</a>
                    </li>
                    <li class="nav-item searchbar">
                        <form role="search">
                            <input type="search" placeholder="Suche.." aria-label="Search" />
                            <button type="submit">Suchen</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>